/* Set styles for the entire page light mood */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #7B8FA1;
}

#container {
  position: relative;
  min-height: 90vh;
  padding-bottom: 100px;
  /* adjust as needed */
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Set styles for the header */
#container h1 {
  text-align: center;
  color: #333;
  font-size: 36px;
}

/* style for enter ur input */
label[for="input"] {
  display: block;
  margin-bottom: 10px;
  color: #232323;
  font-size: 20px;
  position: relative;
  bottom: -20px;
}

/* Set styles for the introduction paragraph */
#container p {
  text-align: center;
  color: #666;
  font-size: 20px;
}

/* Set styles for the form */
form {
  margin-top: 40px;
  text-align: center;
}

/* Set styles for the radio buttons */
input[type="radio"] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid #333;
  width: 20px;
  height: 20px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

/* Set styles for the radio button when checked */
input[type="radio"]:checked {
  border-color: #333;
  background-color: #333;
}



/* for the label of the radio buttons */
label[for="code"],
label[for="char"] {
  display: inline-block;
  margin-right: 20px;
  color: #333;
  font-size: 20px;
}

/*for the input field */
input[type="text"] {
  width: 80%;
  max-width: 400px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #00000079;
  font-size: 20px;
  color: #2c3e50;
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:hover {
  border-bottom: 2px solid #000000;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #000000;
  background-color: #fff;
}


/*  for the submit button */
input[type="submit"] {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #232222;
}

/* for the result div */
.result {
  text-align: center;
  margin-top: 40px;
  display: block;
  position: relative;
}

/* for the result paragraph */
#result {
  color: #333;
  font-size: 24px;
}

/* for the error paragraph */
#error {
  color: #ff3333;
  font-size: 20px;
  margin-top: 20px;
}

/* for the mode switch button */
#mode-switch {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position:-webkit-sticky;
  bottom: 280px;
  right: 0%;
  transition: background-color 0.2s ease-in-out;
  display: block;

}

#mode-switch:hover {
  background-color: #232222;
}


.button-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* download btn */
a.download-link {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

a.download-link:hover {
  color: #000;
}


/* donate */

.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  margin: 0 auto;
  display: inline-block;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn2:active {
  transform: scale(0.9);
}

/* twitter */
.btn2 {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  margin: 0 auto;
  display: inline-block;
  z-index: 1;
  bottom: 10px;
}

.btn2:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn2:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn2:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn2:active {
  transform: scale(0.9);
}

a.btn {
  text-decoration: none;
  color: inherit;
}

a.btn2 {
  text-decoration: none;
  color: inherit;
}


/* footer */
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: block;
  /* background-color: #f1f1f1; */
}

footer a {
  margin: 0 10px;
}


 /* newww part of codee just a test */
 /* dark */
 @media only screen and (max-width: 420px) {
  body.dark-mode {
    margin: 0;
    padding: 0;
    background-color: #202931;
    /* a darker shade of grey */
    color: #f5f5f5;
    /* a lighter shade of grey */
  }
 
  /* the container */
  body.dark-mode #container {
    position: relative;
    min-height: 90vh;
    padding-bottom: 100px;
    /* adjust as needed */
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(18, 18, 19);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
  }
 
  /* the header */
 
  body.dark-mode #container h1 {
    color: #f5f5f5;
  }
 
  /* the  paragraph in cont  */
  body.dark-mode #container p {
    color: #ffffff;
    /* a lighter shade of grey */
  }
 
  /* the form in */
  body.dark-mode form {
    color: #f5f5f5;
  }
 
  /*  the radio buttons  */
  body.dark-mode input[type="radio"] {
    border-color: #f5f5f5;
  }
 
  /*  the radio button when checked */
  body.dark-mode input[type="radio"]:checked {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
  }
 
  /*  the label of the radio buttons */
  body.dark-mode label[for="code"],
  body.dark-mode label[for="char"] {
    color: #ffffff;
    /* a lighter shade of grey */
  }
 
  /*  enter ur input */
  body.dark-mode label[for="input"] {
    display: block;
    margin-bottom: 10px;
    color: #fefcfc;
    font-size: 20px;
    position: relative;
    bottom: -20px;
  }
 
  body.dark-mode input[type="text"] {
    width: 80%;
    max-width: 400px;
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #f9f9f979;
    font-size: 20px;
    color: #2c3e50;
    background-color: #aca9a9;
    transition: all 0.3s ease-in-out;
  }
 
  body.dark-mode input[type="text"]:hover {
    border-bottom: 2px solid #ffffff;
  }
 
  body.dark-mode input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #ffffff;
    background-color: #aca9a9;
  }
 
  /* submit button  */
  body.dark-mode input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
 
  body.dark-mode input[type="submit"]:hover {
    background-color: #232222;
  }
 
  /* result paragraph */
  body.dark-mode #result {
    color: #f5f5f5;
  }
 
  /* the error paragraph */
  body.dark-mode #error {
    color: #ff7f7f;
    /* a red-ish color */
  }
 
  /* the mode switch button  */
  body.dark-mode #mode-switch {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position:-webkit-sticky;
    bottom: 280px;
    right: 0%;
    transition: background-color 0.2s ease-in-out;
    display: block;
  }
 
  body.dark-mode #mode-switch:hover {
    background-color: #232222;
  }
 
 
  .button-container {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
 
  /* donate */
 
  body.dark-mode .btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    margin: 0 auto;
    display: inline-block;
    z-index: 1;
  }
 
  body.dark-mode .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
  }
 
  body.dark-mode .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
  }
 
  body.dark-mode .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
  }
 
  body.dark-mode .btn2:active {
    transform: scale(0.9);
  }
 
  /* twitter */
  body.dark-mode .btn2 {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    margin: 0 auto;
    display: inline-block;
    z-index: 1;
    bottom: 10px;
  }
 
  body.dark-mode .btn2:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
  }
 
  body.dark-mode .btn2:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
  }
 
  body.dark-mode .btn2:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
  }
 
  body.dark-mode .btn2:active {
    transform: scale(0.9);
  }
 
  body.dark-mode footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f2f2f200;
  }
 
  /* footer */
  body.dark-mode footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: block;
    /* background-color: #f1f1f1; */
  }
 
  body.dark-mode footer a {
    margin: 0 10px;
  }
  
  /* dark */
  } 